

#body {
    background-image: linear-gradient(to right, rgb(60, 60, 187) , purple);
}

.footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: linear-gradient(to right, rgb(60, 60, 187) , purple);
}

.h1 {
    color: rgb(224, 175, 69);
    text-align: center;
    width: 100%;
    font-size: 70px;
}

